<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>个人资料</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
  <link rel="stylesheet" th:href="@{/css/index.css}" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row" method="post">
  <div class="layui-col-md3 layui-col-xs12 user_right" style="position: center">
    <div class="layui-upload-list userFace" style="margin: 40px; position: center">
      <input type="hidden" name="imgpath" th:name="id" id="imgpath">
      <img class="layui-upload-img layui-circle userFaceBtn userAvatar" style="width: 200px;height: 200px" th:src="${session.user.img}" id="userFace">
    </div>
    <button type="button" style="margin: 30px" class="layui-btn layui-btn-primary userFaceBtn"><i class="layui-icon">&#xe67c;</i> 掐指一算，我要换一个头像了</button>
  </div>
  <div class="layui-col-md6 layui-col-xs12">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input type="hidden" class="id" name="id" th:value="${session.user.id}">
        <input type="text" value="" id="name" th:value="${session.user.username}" disabled class="layui-input layui-disabled">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">登陆名</label>
      <div class="layui-input-block">
        <input type="text" value="" id="loginname" th:value="${session.user.username}" disabled class="layui-input layui-disabled">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <input type="text" value="" name="password" id="remark" th:value="${session.user.password}" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">性别</label>
      <div class="layui-input-block">
        <input type="text" value="" name="sex" id="sex" th:value="${session.user.sex}" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">年龄</label>
      <div class="layui-input-block">
        <input type="text" value="" id="age" name="age" th:value="${session.user.age}" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">用户地址</label>
    <div class="layui-input-block">
      <input type="text" value="" id="address" name="address" th:value="${session.user.address}" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">电话号码</label>
      <div class="layui-input-block">
        <input type="text" value="" id="phone" name="phone" lay-verify="phone" th:value="${session.user.phone}" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">校园卡号</label>
      <div class="layui-input-block">
        <input type="text" value="" id="cardId" name="cardId" th:value="${session.user.cardId}" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit="" lay-filter="changeUser">立即提交</button>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>

<script type="text/javascript">

  layui.use(['jquery','upload','form'],function () {

    var $ = layui.jquery;
    var upload = layui.upload;
    var form = layui.form;



    upload.render({
      elem: '.userFaceBtn',
      url: '/user/uploadFile',
      acceptMime: 'image/*',
      field: 'imgPath',//后端处理请求的数据实体
      method: "post",
      auto: true,
      before: function(obj){
        //预读本地文件示例，不支持ie8
        obj.preview(function(index, file, result){
          $('#userFace').attr('src', result); //图片链接（base64）
        });
      }
      ,done: function(res){
        //如果上传失败
        if(res.code > 0){
          layer.msg('上传失败');
        }
        //上传成功
        layer.msg('上传成功');
      }
    });
    //提交个人资料
    form.on("submit(changeUser)",function(data){
      var index = layer.msg('提交中，请稍候',{icon: 16,time:false,shade:0.8});
      $.post("/user/updateUser", data.field, function (res) {
        layer.msg(res.msg);
      });
      setTimeout(function(){
        layer.close(index);
        layer.msg("提交成功！");
      },2000);
      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    })
  });


</script>

</body>
</html>