<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>校园疫情管理系统</title>
  <!-- 引入刚刚下载的 ECharts 文件 -->
  <script th:src="@{/echarts/echarts.min.js}"></script>
  <script th:src="@{/echarts/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/echarts/china.js}"></script>
  <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"   media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<!--layui引入公共模块-->
<div th:include="commommenu :: menu">
</div>
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div id="main" style="width:1100px;height:600px;"></div>
  </div>
</div>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));
  option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },

    yAxis: [
      {
        type: 'value'
      }
    ],

  };
  $.ajax({
    url:"/queryBar",
    dataType:"json",
    success:function(data) {
      myChart.setOption({
        xAxis: {
          type: 'category',
          data: data.cityList,
          axisTick: {
            alignWithLabel: true
          }
        },
        series: [
          {
            name: 'Direct',
            type: 'bar',
            barWidth: '60%',
            data: data.dataList
          }
        ]
      })
    }
  });
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>
</body>
</html>